footer{
    div{
        display: flex;
        flex-direction: column;
       flex-direction: column;
       gap: 20px;
       padding: 1.25rem;
       text-align: center;

       .logo{
        text-align: center;
        margin: 20px;
       border: 20px red solid
        
        
       }

    }
}